{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="container p-4" >
  <form>  
    {{form.codigo.label}}
    {{form.codigo}}
    {{form.numeroOriginal.label}}
    {{form.numeroOriginal}}
    {{form.marca.label}}
    {{form.marca}}
    {{form.submit}}
    <input type="reset" value="Clear">
  </form>
<div class="card-group  p-2">
{% for producto in productos%}
    {% if loop.index0 % 3 == 0 %}
    <div class="card-group p-1">
    {% endif%}
        <div class="card border border-dark" style="width: 18rem;">
            <img class="card-img-top" src={{producto['imagen_link']}} alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{producto["tipoCable"]}}</h5>
              <p class="card-text">Codigo:{{producto["codigo"]}}</p>
              <p class="card-text">Numero Original:{{producto["numeroOriginal"]}}</p>
              <p class="card-text">Marca:{{producto["marca"]}}</p>
              <p class="card-text">Descripcion:{{producto["descripcion"]}}</p>
              <a href='/producto/{{producto["codigo"]}}' class="btn btn-primary">Consultar</a>
            </div>
          </div>
    {% if loop.index0 % 3 == 2 or loop.last %}
        </div>
    {% endif %}
{%endfor%}
</div>
</div>

{% endblock%}